body{
  background-color: lightgrey;
  text-decoration: none;
}
header {
  margin-bottom: 20px;
  background-color: darkred;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.header-title{
  position:relative;
  left: 0px;
  top: 80px;
  font-size: 60px;
  font-weight: bold;
  color:white;
  margin-left: 50px;
  height: 180px;
}
.projet-head{
background-color: darkgrey;
padding-top: 10px;
padding: 4px;
font-size: 15px;
text-transform: capitalize;
font-weight:bold;
text-decoration: none;
}
.projet-table{
  font-size: 15px;
  padding: 4px;
  font-family: 'Lato', serif;
  padding-top:10px;
  padding-bottom: 10px;
  text-decoration: none;
}
.projet-Logout{
  box-shadow: 2px 2px 5px rgba(150, 150, 150, 1);
  text-shadow: 2px 2px 5px rgba(150, 150, 150, 1);
  position: right;
  text-decoration: none;
  display: inline;
  width: 70px;
  height: 70px;
  line-height: 30px;
  border: none;
  border-radius: 50%;
  color: white;
  text-align: center;
  background: white;
  font-size: 30px;
  font-weight: bold;
  margin: 10px;
}
.projet-add{
  box-shadow: 2px 2px 5px rgba(150, 150, 150, 1);
  text-shadow: 2px 2px 5px rgba(150, 150, 150, 1);7
  position: fixed;
  text-decoration: none;
  right: 50px;
  bottom: 50px;
  display: inline;
  width: 70px;
  height: 70px;
  line-height: 30px;
  border: none;
  border-radius: 50%;
  color: white;
  text-align: center;
  background: darkred;
  font-size: 30px;
  font-weight: bold;
  margin: 10px;
}
